<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
</head>

<body>

<div class="jumbotron text-center">
    <h1>Codecool Shop</h1>
</div>

<div class="container">

    <div class="filters">
        <div class="dropdown" id="supplier-filter">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" onclick="index">Filter products by supplier
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li th:each="supplier,iterStat : ${suppliers}">
                    <a th:text="${supplier.name}" th:href="'/supplier/' + ${supplier.name}"></a>
                </li>
            </ul>
        </div>

        <div class="dropdown" id="category-filter ">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filter products by category
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li th:each="category,iterStat : ${categories}">
                    <a th:text="${category.name}" th:href="'/category/' + ${category.name}"></a>
                </li>
            </ul>
        </div>

        <div class="shopping-cart">
            <label id="cartCounter"></label>
            <img id="cart" src="http://placehold.it/400x250/000/fff" th:attr="src='/img/shoppingcart_icon.png'"
                 alt="Review the items in your shopping cart" data-toggle="modal" data-target="#myModal"/>

        </div>
    </div>

    <div id="products" class="row list-group">

        <div class="item col-xs-4 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" th:attr="src='/img/product_' + ${prod.id} + '.jpg'" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                    <p class="group inner list-group-item-text" th:text="${prod.description}">Product description... </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" th:href="'/addToCart/' + ${prod.id}">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="container">
        <div class="modal fade" id="userModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="modal-title" class="modal-title">User Data</h4>
                    </div>
                    <div class="modal-body">
                        <form id="userData" action="/saveUserData">
                            <div class="form-group">
                                <label for="name-input">Name</label>
                                <input type="text" class="form-control" id="name-input" placeholder="Name" required="true" />
                            </div>

                            <div class="form-group">
                                <label for="email-input">Email address</label>
                                <input type="email" class="form-control" id="email-input" placeholder="Email" required="true" />
                            </div>

                            <div class="form-group">
                                <label for="phone-input">Phone number</label>
                                <input type="tel" class="form-control" id="phone-input" placeholder="Phone number" required="true" />
                            </div>

                            <div class="form-group">
                                <label for="address-input">Billing Address</label>
                                <input type="text" class="form-control" id="address-input" placeholder="Billing Address" required="true" />
                            </div>

                            <div class="form-group">
                                <label for="shipping-input">Shipping Address</label>
                                <input type="text" class="form-control" id="shipping-input" placeholder="Shipping Address" required="true" />
                            </div>
                            <div class="modal-footer">
                                <button id="paymentButton" type="button" class="btn btn-default" data-dismiss="modal">Payment</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Shopping cart items: </h4>
                    <button type="button" class="close" data-dismiss="modal">X</button>
                </div>
                <div class="modal-body">
                    <table class="table" id="shoppingcart">
                        <tr>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <div id="total-price">
                    </div>
                    <button type="button" id="checkout-button" class="btn btn-default"
                            data-dismiss="modal" data-toggle="modal" data-target="#userModal">Order selected items</button>
                    <button type="button" id="keep-shopping" class="btn btn-default" data-dismiss="modal">Keep shopping</button>

                </div>
            </div>
        </div>
    </div>
<div th:replace="footer :: copy"></div>

</body>
</html>